<!DOCTYPE html>
<html lang="tr" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/webjars/bootstrap/4.0.0/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap4-toggle/css/bootstrap4-toggle.min.css">
    <link rel="stylesheet" href="/css/main.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Haciko</title>
</head>
<body>
<div class="container pt-2">
    <nav class="navbar">
        <p class="navbar-brand mr-auto">Chanımıza hoşgeldiniz!</p>
        <p class="navbar-text" sec:authorize="isAnonymous()">
            <a href="/login">Giriş Yap</a> | <a href="/register">Kayıt Ol</a>
        </p>
        <p sec:authorize="isAuthenticated()">
            Hoşgeldin, <b sec:authentication="name"></b>! | <a href="/logout">Çıkış yap</a>
        </p>
    </nav>
    <div class="alert alert-danger" th:if="${error}" th:text="${error}"></div>
    <div class="alert alert-info" th:if="${param.logout}">Başarıyla çıkış yapıldı.</div>
    <div class="list-group">
        <div class="list-group-item flex-column" th:each="post : ${posts}" th:classappend="${!post.public} ? 'bg-light'">
            <p th:text="${post.message}"></p>
            <div class="d-flex justify-content-between">
                <small th:text="${post.nick}"></small>
                <small th:unless="${post.public}"><b>Gizli post</b></small>
                <small th:text="${post.createdAt}" class="post-date"></small>
            </div>
        </div>
    </div>
</div>
<div class="container pt-2">
    <form method="post" th:object="${post}">
        <div class="form-group row" sec:authorize="isAnonymous()">
            <label for="nick" class="col-sm-3">Nick</label>
            <div class="col-sm-9">
                <input type="text" required class="form-control" th:field="*{nick}">
            </div>
        </div>
        <div class="form-group row">
            <label for="category"></label>
        </div>
        <div class="form-group">
            <label for="message">Mesaj</label>
            <textarea class="form-control" th:field="*{message}"></textarea>
        </div>
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
        <div class="form-group row">
            <div class="col-auto">
                <button type="submit" class="btn btn-success">Yolla</button>
            </div>
            <div class="col-auto" sec:authorize="isAuthenticated()">
                <input type="checkbox"
                       data-toggle="switchbutton"
                       data-onlabel="Herkese açık"
                       data-offlabel="Gizli"
                       th:field="*{public}">
            </div>
            <input type="hidden" sec:authorize="isAnonymous()" th:field="*{public}"><!-- Default is true !-->
        </div>
    </form>
</div>
<script src="/webjars/jquery/3.6.0/dist/jquery.min.js"></script>
<script src="/webjars/bootstrap4-toggle/js/bootstrap4-toggle.min.js"></script>
<script>
    $(document).ready(function () {
        // Convert each datetime to locale string.
        $('.post-date').each(function (index) {
            var UTCDate = new Date($(this).text() + 'Z');

            // TR language is only for formatting, does not affect locale time
            var localeDateWithoutSecs = UTCDate.toLocaleString('tr-TR').slice(0, -3);

            $('.post-date').eq(index).text(localeDateWithoutSecs);
        })
    })
</script>
</body>
</html>